{% extends "polls/sidebar.html" %}
{% load static %}
{% block content %}

<br><br>

<div class="col-lg-2"></div>
<div class="col-lg-8">
  <div class="card">

        {% load crispy_forms_tags %}
        <div class="card-body card-block">
          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Enter reviewer ID</legend>
              {{form|crispy}}
            </fieldset>

            <div class="form-group">
              <button class="btn btn-primary mr-2 mb-2" type="submit ">submit</button>
            </div>
          </form>
        </div>
    </div>
  </div>

<div class="col-lg-2"></div>


{% endblock %}
 


